.action-buttons {
	position: absolute;
	min-height: 88px;
	top: 0;
	right: 0;

    .container {
        margin-right: 40px;
        padding: 10px;
        width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
	.text {
		display: none;
	}

	.toggle {
		position: absolute;
		top: 0;
		right: 0;
		padding: 15px 18px;
	}

	.balls {
		margin: 0 auto;
		width: 3px;

		.ball {
			height: 3px;
			width: 3px;
			margin-bottom: 2px;
			border-radius: 3px;
			background-color: #282c34;
			.active & {
				background-color: #e8eaef;
			}
		}
	}
}

.edit-lid,
.delete-lid {
	padding: 0;
	width: 100%;
	.icon {
		display: block;
		height: 15px;
		width: 15px;
		padding: 12px;
	}
	.icon {
		background-position: 12px 12px;
		background-size: 15px 15px;
		background-repeat: no-repeat;
	}
}

.edit-lid {
	margin-bottom: 12px;
	color: black;
	background-color: #efefef;
	.icon {
		background-image: url("../content/icons/min/edit.svg");
		//@include icon-delete(15px, 15px,true, "#fff")
		//fill: #fff;
	}
}

.delete-lid {
	color: white;
	background-color: #d33e08;
	.icon {
		background-image: url("../content/icons/min/delete.svg");
		//@include icon-delete(15px, 15px,true, "#fff")
		//fill: #fff;
	}
}
