body {
	font-size: 12px;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.8em;
  margin-bottom: 12px;
}

h4 {
	font-size: 1.6em;
}

h5 {
	font-size: 1.4em;
}

p {
	font-size: 1.2em;
}

.labelValue {
	display: block;
	.value {
		font-weight: bold;
	}
}

button {
	background: #282c34;
	color: white;
	border-radius: 3px;
	padding: 10px 16px;
	&[disabled] {
		background-color: #9298a5;
	}
}

form {
	text-align: left;

	label,
	label > span {
		position: relative;
		display: block;
  }
  
  label {
    margin-bottom: 12px;
  }

	input[type="text"],
	input[type="number"] {
		display: inline-block;
		box-sizing: border-box;
		text-indent: 10px;
		padding: 4px 0; /* 
    margin-top: -1px;
    margin-left: -1px; */
		background-color: #fafafa;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
		font-size: inherit;
	}

	.field-label {
		margin-bottom: 4px;
	}
	.field-error {
		color: red;
		font-size: 12px;
		position: absolute;
		top: -9px;
		left: 10px;
	}

	.buttons {
		margin-top: $default-spacing;
	}
}

/* Base for label styling */
/* [type="checkbox"] {
  position: absolute;
  left: -9999px;
} */
[type="checkbox"] {
	position: relative;
	padding-left: 1.95em;
	height: 1.25em;
	cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked):before,
[type="checkbox"]:checked:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 1.25em;
	height: 1.25em;
	border: 2px solid #ccc;
	background: #fff;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked):after,
[type="checkbox"]:checked:after {
	content: "\2713\0020";
	position: absolute;
	top: 0.15em;
	left: 0.22em;
	font-size: 1.3em;
	line-height: 0.8;
	color: #09ad7e;
	transition: all 0.2s;
	font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked):after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked):before,
[type="checkbox"]:disabled:checked:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked:after {
	color: #999;
}
[type="checkbox"]:disabled {
	color: #aaa;
}

.timeSpanPicker {
  background-color: #fafafa;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  input {
    box-shadow: none !important;
  }
}

.default-push-right {
	margin-right: $default-spacing;
}

.default-box-padding {
	padding: $default-spacing;
}

.default-margin-push-down {
	margin-bottom: 12px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}
