@import "./_variables";
@import "./_elements";
@import "./_buttons";
//@import "./_countdown";
@import "./shared/_svgIcons.scss";

html,
body,
#root,
.App {
	height: 100%;
}
.App {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
}

.app-header {
	flex-grow: 1;
	background-color: #282c34;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;

	.start-workout {
		height: 100px;
		width: 100px;
		border-radius: 50px;
		box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 1); //#282c34;
	}
}

.page-container {
	flex-grow: 2;
	display: flex;
	.main-content {
		position: relative;
		flex-grow: 2;
		z-index: 1;
		overflow-x: hidden;
	}
	.side-bar {
		z-index: 2;
		position: relative;
		align-items: stretch;
		width: 300px;
		border-right: 1px solid #aaa;
	}
}

.workouts-list {
	.description {
		height: 12px;
		line-height: 12px;
		margin-bottom: $default-spacing;
	}
}

.activity-form {
	.info {
		margin-bottom: $default-spacing;
	}
	.times {
		margin: $default-spacing 0;
	}
}

.activity-form,
.workout-form {
	.cancel {
		background-color: #e8eaef;
		color: #282c34;
		box-shadow: inset 0 0 0 1px rgba(40, 44, 52, 0.3); //#282c34;
		//box-shadow: 1px 0 0 0 #282c34 inset, 0 1px 0 0 #282c34 inset;
	}
}

.activities-list.dragging-over,
.workouts-list.dragging-over {
	background-color: #efefef;
}

.workouts-list {
	.workout {
		position: relative;
		cursor: pointer;
		background-color: white;
		box-shadow: 0 1px 0 0 #888, 0 1px 0 0 #888 inset;

		&.active {
			background-color: #282c34;
			color: white;
		}
	}
}

/* .workout.draggable.dragging,
.activity.draggable.dragging {
	box-shadow: 1px 0 0 0 #888, 0 1px 0 0 #888, 1px 1px 0 0 #888,1px 0 0 0 #888 inset, 0 1px 0 0 #888 inset,
		2px 6px 6px rgba(68, 68, 68, 0.4);
}
 */
 
.activity-form {
	> .container {
		display: block !important;
		flex-grow: inherit;
	}
}


.empty-workout {
	padding: 40px $default-spacing;
}

.activities-list {

	.activity {
		display: flex;
		align-items: stretch;
		position: relative;
		min-height: 110px;
		background-color: #fff;
		box-shadow: 0 1px 0 0 #888, 0 1px 0 0 #888 inset;

		> .container {
			display: flex;
			flex-grow: 2;

			.info,
			.data {
				flex-basis: 50%;
			}
			.info {
				display: flex;
				flex-direction: column;
				//align-items: center;
				justify-content: center;
			}

			.labelValue {
				margin: 6px;
			}

			.data {
				padding-right: 40px;

				> div {
					margin-bottom: 4px;
				}
			}
		}

		.color-bar {
			width: 20px;
			> div {
				width: 100%;
				&.exercise {
					background-color: #dfa74a;
				}
				&.rest {
					background-color: #7ebda4;
				}
			}
		}
		.description {
			font-size: 13px;
		}
	}
}

.action-layer {
	box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.6);
	box-sizing: border-box;
	/* position: absolute;
  bottom: 0;
  left: 0; */
	width: 100%;
	//background-color: #D6F0BA;
}

.timeSpanPicker {
	> span {
		position: relative;
		display: inline-block;
		border-radius: 4px;
		padding-left: 6px;
		margin-right: 10px;
		color: #888;
		display: flex;
	}
	.text {
		line-height: 20px;
		display: inline-block;
		min-width: 30px;
	}

	input[type="number"] {
		display: inline-block;
		widows: auto;
		width: 4em;
	}
}
