.timer {
	.workout-recap {
		h1 {
			text-align: center;
			text-transform: uppercase;
			margin: 20px;
		}
		h2 {
			text-align: center;
			margin: 20px;
		}
	}
	.sequence-title {
        position: relative;
		text-align: center;
		font-size: 20px;
		bottom: 1px solid #282c34;
		margin-bottom: 16px;
		&:after {
            content: "";
            position: absolute;
            top: 100%;
            left:50%;
            transform: translateX(-50%);
			display: block;
			width: 20px;
			height: 20px;
			background-image: url("../content/icons/arrow-down.svg");
            background-position: 0;
            background-size: 20px;
            background-repeat: no-repeat;
		}
	}

	.sequence-slot {
		display: flex;
		align-items: stretch;
		position: relative;
		background-color: #fff;
		box-shadow: 0 1px 0 0 #888, 0 1px 0 0 #888 inset;

		> .container {
			display: flex;
			padding: 20px;
            flex-grow: 2;
            
			.labelValue {
				margin: 6px;
			}

			.data {
                display: none;
				padding-right: 40px;

				> div {
					margin-bottom: 4px;
				}
			}
		}
	}

	.description {
		font-size: 13px;
	}

	.contdown-container {
		margin: 40px 15%;
	}
}
