$svg-domain: "/";

@function svgc_ends_with($string, $find) {
	@if (str-index($string, $find)==(str-length($string) - str-length($find) + 1)) {
		@return true;
	}
	@else {
		@return false;
	}
}

@function svgc_number($value) {
	@if type-of($value)=='number' {
		@return $value;
	}
	@else if type-of($value) !='string' {
		$value: $value+"";
	}
	$result: 0;
	$digits: 0;
	$minus: str-slice($value, 1, 1)=='-';
	$numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);
	@for $i from if($minus, 2, 1) through str-length($value) {
		$character: str-slice($value, $i, $i);
		@if not (index(map-keys($numbers), $character) or $character=='.') {
			@return if($minus, -$result, $result);
		}
		@if $character=='.' {
			$digits: 1;
		}
		@else if $digits==0 {
			$result: $result * 10 + map-get($numbers, $character);
		}
		@else {
			$digits: $digits * 10;
			$result: $result + map-get($numbers, $character) / $digits;
		}
	}
	@return if($minus, -$result, $result);
}



@mixin icon-c-flags($flagName: "") {
	background-image: url($svg-domain + "/content/icons/colored/min/flag-" + $flagName);
}
