body {
  font-size: 12px; }

h1 {
  font-size: 2.2em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em;
  margin-bottom: 12px; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

p {
  font-size: 1.2em; }

.labelValue {
  display: block; }
  .labelValue .value {
    font-weight: bold; }

button {
  background: #282c34;
  color: white;
  border-radius: 3px;
  padding: 10px 16px; }
  button[disabled] {
    background-color: #9298a5; }

form {
  text-align: left; }
  form label,
  form label > span {
    position: relative;
    display: block; }
  form label {
    margin-bottom: 12px; }
  form input[type="text"],
  form input[type="number"] {
    display: inline-block;
    box-sizing: border-box;
    text-indent: 10px;
    padding: 4px 0;
    /* 
    margin-top: -1px;
    margin-left: -1px; */
    background-color: #fafafa;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: inherit; }
  form .field-label {
    margin-bottom: 4px; }
  form .field-error {
    color: red;
    font-size: 12px;
    position: absolute;
    top: -9px;
    left: 10px; }
  form .buttons {
    margin-top: 20px; }

/* Base for label styling */
/* [type="checkbox"] {
  position: absolute;
  left: -9999px;
} */
[type="checkbox"] {
  position: relative;
  padding-left: 1.95em;
  height: 1.25em;
  cursor: pointer; }

/* checkbox aspect */
[type="checkbox"]:not(:checked):before,
[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }

/* checked mark aspect */
[type="checkbox"]:not(:checked):after,
[type="checkbox"]:checked:after {
  content: "\2713\0020";
  position: absolute;
  top: 0.15em;
  left: 0.22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked):after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"]:checked:after {
  opacity: 1;
  transform: scale(1); }

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked):before,
[type="checkbox"]:disabled:checked:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd; }

[type="checkbox"]:disabled:checked:after {
  color: #999; }

[type="checkbox"]:disabled {
  color: #aaa; }

.timeSpanPicker {
  background-color: #fafafa;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); }
  .timeSpanPicker input {
    box-shadow: none !important; }

.default-push-right {
  margin-right: 20px; }

.default-box-padding {
  padding: 20px; }

.default-margin-push-down {
  margin-bottom: 12px; }

.flex-space-between {
  display: flex;
  justify-content: space-between; }

.action-buttons {
  position: absolute;
  min-height: 88px;
  top: 0;
  right: 0; }
  .action-buttons .container {
    margin-right: 40px;
    padding: 10px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
  .action-buttons .text {
    display: none; }
  .action-buttons .toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px; }
  .action-buttons .balls {
    margin: 0 auto;
    width: 3px; }
    .action-buttons .balls .ball {
      height: 3px;
      width: 3px;
      margin-bottom: 2px;
      border-radius: 3px;
      background-color: #282c34; }
      .active .action-buttons .balls .ball {
        background-color: #e8eaef; }

.edit-lid,
.delete-lid {
  padding: 0;
  width: 100%; }
  .edit-lid .icon,
  .delete-lid .icon {
    display: block;
    height: 15px;
    width: 15px;
    padding: 12px; }
  .edit-lid .icon,
  .delete-lid .icon {
    background-position: 12px 12px;
    background-size: 15px 15px;
    background-repeat: no-repeat; }

.edit-lid {
  margin-bottom: 12px;
  color: black;
  background-color: #efefef; }
  .edit-lid .icon {
    background-image: url("../content/icons/min/edit.svg"); }

.delete-lid {
  color: white;
  background-color: #d33e08; }
  .delete-lid .icon {
    background-image: url("../content/icons/min/delete.svg"); }

html,
body,
#root,
.App {
  height: 100%; }

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; }

.app-header {
  flex-grow: 1;
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }
  .app-header .start-workout {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    box-shadow: inset 0 0 0 5px white; }

.page-container {
  flex-grow: 2;
  display: flex; }
  .page-container .main-content {
    position: relative;
    flex-grow: 2;
    z-index: 1;
    overflow-x: hidden; }
  .page-container .side-bar {
    z-index: 2;
    position: relative;
    align-items: stretch;
    width: 300px;
    border-right: 1px solid #aaa; }

.workouts-list .description {
  height: 12px;
  line-height: 12px;
  margin-bottom: 20px; }

.activity-form .info {
  margin-bottom: 20px; }

.activity-form .times {
  margin: 20px 0; }

.activity-form .cancel,
.workout-form .cancel {
  background-color: #e8eaef;
  color: #282c34;
  box-shadow: inset 0 0 0 1px rgba(40, 44, 52, 0.3); }

.activities-list.dragging-over,
.workouts-list.dragging-over {
  background-color: #efefef; }

.workouts-list .workout {
  position: relative;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 1px 0 0 #888, 0 1px 0 0 #888 inset; }
  .workouts-list .workout.active {
    background-color: #282c34;
    color: white; }

/* .workout.draggable.dragging,
.activity.draggable.dragging {
	box-shadow: 1px 0 0 0 #888, 0 1px 0 0 #888, 1px 1px 0 0 #888,1px 0 0 0 #888 inset, 0 1px 0 0 #888 inset,
		2px 6px 6px rgba(68, 68, 68, 0.4);
}
 */
.activity-form > .container {
  display: block !important;
  flex-grow: inherit; }

.empty-workout {
  padding: 40px 20px; }

.activities-list .activity {
  display: flex;
  align-items: stretch;
  position: relative;
  min-height: 110px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #888, 0 1px 0 0 #888 inset; }
  .activities-list .activity > .container {
    display: flex;
    flex-grow: 2; }
    .activities-list .activity > .container .info,
    .activities-list .activity > .container .data {
      flex-basis: 50%; }
    .activities-list .activity > .container .info {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .activities-list .activity > .container .labelValue {
      margin: 6px; }
    .activities-list .activity > .container .data {
      padding-right: 40px; }
      .activities-list .activity > .container .data > div {
        margin-bottom: 4px; }
  .activities-list .activity .color-bar {
    width: 20px; }
    .activities-list .activity .color-bar > div {
      width: 100%; }
      .activities-list .activity .color-bar > div.exercise {
        background-color: #dfa74a; }
      .activities-list .activity .color-bar > div.rest {
        background-color: #7ebda4; }
  .activities-list .activity .description {
    font-size: 13px; }

.action-layer {
  box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.6);
  box-sizing: border-box;
  /* position: absolute;
  bottom: 0;
  left: 0; */
  width: 100%; }

.timeSpanPicker > span {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  padding-left: 6px;
  margin-right: 10px;
  color: #888;
  display: flex; }

.timeSpanPicker .text {
  line-height: 20px;
  display: inline-block;
  min-width: 30px; }

.timeSpanPicker input[type="number"] {
  display: inline-block;
  widows: auto;
  width: 4em; }

/*# sourceMappingURL=index.css.map */
